@font-face {
  font-family: "Poppins";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local("Poppins Light"), local("Poppins-Light");
  src: url("../assets/fonts/PoppinsLight.woff2") format("woff2"),
    url("../assets/fonts/PoppinsLight.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Poppins Regular"), local("Poppins-Regular");
  src: url("../assets/fonts/PoppinsRegular.woff2") format("woff2"),
    url("../assets/fonts/PoppinsRegular.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("Poppins Medium"), local("Poppins-Medium");
  src: url("../assets/fonts/PoppinsMedium.woff2") format("woff2"),
    url("../assets/fonts/PoppinsMedium.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold");
  src: url("../assets/fonts/PoppinsSemiBold.woff2") format("woff2"),
    url("../assets/fonts/PoppinsSemiBold.woff") format("woff");
}

:root {
  --jet: rgb(56, 56, 56);
  --onyx: rgb(43, 43, 44);
  --eerie-black: rgb(32, 32, 34);
  --white: rgb(255, 255, 255);
  --smoky-black: rgb(18, 18, 18);
  --light-gray: rgb(214, 214, 214);
  --orange-yellow-crayola: rgb(255, 219, 112);
  --light-gray-70: rgba(214, 214, 214, 0.7);
  --shadow-1: -4px 8px 24px rgba(0, 0, 0, 0.125);
  --border-gradient-onyx: linear-gradient(
    to bottom right,
    rgb(64, 64, 64) 0%,
    rgba(64, 64, 64, 0) 50%,
    rgba(64, 64, 64, 0) 70%,
    rgba(64, 64, 64, 0.2) 0%
  );
}

html {
  scroll-behavior: smooth;
}

input,
textarea,
select,
button {
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

[class*="__container"] {
  max-width: 1220px;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 10px;
}

.body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  color: var(--white);
  background-color: var(--smoky-black);
}

* {
  /* border: 1px solid rgb(240, 160, 160); */
}

.icon-box {
  position: relative;
  background: var(--border-gradient-onyx);
  width: 48px;
  height: 48px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: var(--orange-yellow-crayola);
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.icon-box:before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--eerie-black);
  border-radius: inherit;
  z-index: -1;
}

section {
  margin-bottom: 30px;
}

section > h2 {
  position: relative;
  display: inline-block;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

section > h2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 120%;
  height: 3px;
  background: var(--orange-yellow-crayola);
  border-radius: 3px;
}

/* HEADER */

/* NAVIGATION */

.nav {
  color: var(--light-gray);
  background: var(--onyx);
  border: 1px solid var(--jet);
  border-radius: 10px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-link {
  position: relative;
  display: block;
  padding: 20px 15px;
  font-size: 15px;
  font-weight: 500;
}

.nav-link:hover {
  color: var(--orange-yellow-crayola);
  transition: color 0.3s ease 0s;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 50%;
  height: 2px;
  width: 0;
  transform: translateX(-50%);
  background: var(--orange-yellow-crayola);
}

.nav-link:hover:after {
  width: 80%;
  transition: width 0.5s ease 0s;
}

/* MAIN */

.main__container {
  display: flex;
  gap: 25px;
}

/* CONTACTS */

.sidebar {
  flex: 0 0 275px;
  padding: 30px;
  background: var(--eerie-black);
  border: 1px solid var(--jet);
  border-radius: 20px;
}

.sidebar-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.sidebar-info__avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  max-height: 250px;
  margin: 0;
  border-radius: 30px;
  overflow: hidden;
}

.sidebar-info__name {
  text-align: center;
  margin-bottom: 15px;
  font-size: 26px;
  font-weight: 500;
}

.sidebar-info__title {
  width: max-content;
  margin: auto;
  padding: 5px 18px;
  background-color: var(--onyx);
  border-radius: 8px;
  font-size: 12px;
  font-weight: 300;
}

.contacts__separator {
  width: 100%;
  height: 1px;
  margin: 32px 0;
  background: var(--jet);
}

.contacts__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px 15px;
}

.contact {
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact__info {
  max-width: calc(100% - 64px);
  width: calc(100% - 64px);
}

.contact__title {
  color: var(--light-gray-70);
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.social__link {
  color: var(--light-gray-70);
  font-size: 18px;
}

.social__item .social__link:hover {
  color: var(--light-gray);
}

/* MAIN CONTENT */

.main__content {
  padding: 30px;
  background: var(--eerie-black);
  border: 1px solid var(--jet);
  border-radius: 20px;
}

/* ABOUT ME */

.about__text {
  font-size: 16px;
  line-height: 1.6;
  color: var(--light-gray);
}

/* SKILLS */

.skills__list {
  margin-left: 20px;
  font-size: 16px;
  line-height: 1.6;
  color: var(--light-gray);
  list-style: circle;
}
